
@model SimpleBlog.ViewModels.LoginIndex

@{ 
    ViewBag.Title = "Login page";
}

<text> Please enter your login details here</text>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div>
        @Html.LabelFor(x => x.Username)
        @Html.EditorFor(x => x.Username)
    </div>

    <div>
        @Html.LabelFor(x => x.Password)
        @Html.EditorFor(x => x.Password)
    </div>

    <div>
        <input type="submit" value="Login" />
    </div>
}

    

