
@{
    Layout = null;
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <header>
        <h1>
        <a href= "@Url.RouteUrl("HomePage")">
            Home blog pages
        </a>

        </h1>

        <h2>
            @if (User.Identity.IsAuthenticated)
            {
                <p>Welcome back, @User.Identity.Name</p>
                <a href="@Url.RouteUrl("Logout")"> Logout</a>

                if (User.IsInRole("admin"))
                {
                    <a href="@Url.Action("Index","Home", new { area = "admin" })">Views stuff in admin</a>
                }

            }
            else
            {
                <a href="@Url.RouteUrl("LoginPage")"> Login</a>
            }
        </h2>

        <h3>
            @Html.RouteLink("Blog", "BlogPage")    
        </h3>
    </header>

    <h4>
        @RenderSection("Testing", false)
    </h4>
    @RenderBody()

</body>
</html>
