@using System.Web.Optimization

@{
    Layout = null;
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/styles")
</head>

<body>
    <div class="site-header">
        <header class="container">
            <h1 class="page-header">
                <a href="@Url.RouteUrl("HomePage")">Home blog pages</a>
                <small>a simple blog powered by asp.net mvc</small>
            </h1>

            
                @if (User.Identity.IsAuthenticated)
                {
                    <p>Welcome back, @User.Identity.Name:   ROLES [@string.Join(", ", System.Web.Security.Roles.GetRolesForUser(User.Identity.Name))]</p>
                    <a href="@Url.RouteUrl("Logout")"> Logout</a>

                    if (User.IsInRole("admin"))
                    {
                        <a href="@Url.Action("Index","Home", new { area = "admin" })">Views stuff in admin</a>
                    }


                }
                else
                {
                    <a href="@Url.RouteUrl("LoginPage")"> Login</a>
                }
            

            
                @Html.RouteLink("Blog", "BlogPage")
            
        </header>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                @RenderBody()
            </div>
            <div class="col-lg-4 sidebar">
               @Html.Action("Sidebar", "Layout")
            </div>
        </div>
        <footer>
           &copy; @DateTime.UtcNow.Year
        </footer>
    </div>
           

        @Scripts.Render("~/scripts")   
</body>
</html>
