@using System.Web.Optimization
@using SimpleBlog.Infrastructure

@{
    Layout = null;
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/admin/styles")

</head>
<body>  
    <div class="container">
        <ul class="nav nav-pills">
            <li class="@(ViewBag.SelectedTab == "test" ? "active": "")">
                @Html.ActionLink("Admin Test", "Index", "Test", new { area="admin"}, new { })
            </li>
            <li class="@Extensions.SelectedTabHelper(ViewBag.SelectedTab, "home")">           
                @Html.ActionLink("Admin Home", "Index", "Home", new { area = "admin" }, new { })
            </li>
            <li class="@Extensions.SelectedTabHelper(ViewBag.selectedTab, "users")">
                @Html.ActionLink("Users", "Index", "Users", new { area = "admin"}, new { } )
            </li>
            <li class="@Extensions.SelectedTabHelper(ViewBag.selectedTab, "roles")">
                @Html.ActionLink("Roles", "Index", "Roles1", new { area = "admin" }, new { })
            </li>
            <li class="@Extensions.SelectedTabHelper(ViewBag.selectedTab, "posts")">
                @Html.ActionLink("Blog", "Index", "Posts", new { area = "admin"}, new { })
            </li>


            <li>
                @Html.RouteLink("Home", "HomePage")
            </li>

            @if (User.IsInRole("admin"))
            {
                <li class="pull-right">
                    @Html.RouteLink("Logout", "Logout")
                </li>
            }
        </ul>

        @RenderBody()

    </div>
    @Scripts.Render("~/admin/scripts")

    <form class="hidden" id="anti-forgery-form">
        @Html.AntiForgeryToken()
    </form>


</body>
</html>
